.window {
  width: 20rem;
  padding: 2rem 0;
  text-align: center;
}
.btn-check {
  width: 50%;
  height: 2.5rem;
  border: 0;
  font-weight: bolder;
  opacity: 0.9;
  cursor: pointer;

  &:first-of-type {
    background-color: var(--heartRed);
    color: white;
  }
  &:last-of-type {
    background-color: rgba(195, 212, 212, 0.8);
    color: rgb(58, 58, 58);
  }
  &:hover {
    opacity: 1;
  }
}
