.menu {
  position: relative;
}
.menu-switch {
  align-items: center;
  display: flex;
  > input {
    display: none;
  }
  img {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
.switch-arrow {
  color: var(--fontC);
  transform: rotate(180deg);
  transition: all 0.5s;
  &.open {
    transform: rotate(0deg);
  }
}

.menu-detail {
  max-height: 80vh;
  width: 215px;
  position: absolute;
  z-index: 10;
  top: 3rem;
  right: 0;
  padding-bottom: 1rem;
  background-color: var(--bkC);
  border: 1px solid var(--searchBkC);
  border-radius: 0.5rem;
  overflow-y: auto;
  
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--fontC);
    }
  }
}
.cover {
  height: 64px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
}
.item-group {
  margin: 1rem 0;
  > * {
    padding: 0.5rem 1rem;
  }
  > .item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
    > a {
      display: block;
    }
  }
}
.link-item {
  &:hover {
    background-color: var(--searchBkC);
  }
}
.status {
  padding: 0.5rem 1rem;
  padding-top: 0;
  margin: 0;

  > div {
    margin-top: 0.5rem;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .headshot {
    padding: 0;
    margin-bottom: -50%;
    translate: 0 -50%;
  }
}
.headshot {
  border: 0.2rem solid var(--bkC);
  border-radius: 50%;
}
.email {
  opacity: 50%;
  font-size: small;
  &::before {
    content: "@";
  }
}
.follow {
  display: flex;
  a {
    display: block;
    margin-right: 1rem;
    border-radius: 0.2rem;
    font-size: small;
  }
}
.dark-theme {
  display: flex;
  cursor: pointer;
  align-items: center;
  > :last-child {
    margin-left: auto;
  }
}
