.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.home {
  font-size: large;
  &:link,
  &:visited {
    color: var(--mainBlue);
    font-weight: bold;
  }
}
.btn {
  &:link,
  &:visited {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0;
  }
  &:hover,
  &:active {
    color: var(--mainBlue);
  }
}
