.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.home {
  font-size: large;
  &:link,
  &:visited {
    color: var(--mainBlue);
    font-weight: bold;
  }
}
.btn {
  &:link,
  &:visited {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0;
  }
  &:hover,
  &:active {
    color: var(--mainBlue);
  }
}
.none-bk-content {
  width: 40vh;
  min-width: 25rem;
  margin: 15vh auto;
  padding: 6rem 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  justify-items: center;
  .logo {
    width: 80%;
    margin-bottom: 3rem;
  }
  .bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    z-index: -1;
  }
}
