#root {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
.nav {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  .nav-item {
    display: flex;
  }
  &.main-nav {
    justify-content: space-between;
  }
}
.main {
  padding: 0.5rem 2rem;
}
