.nav {
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  &.nav-middle {
    width: 30%;
  }
}
.btn {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: all 0.2s;
  &:link,
  &:visited {
    color: var(--fontC);
    border-radius: 1rem;
    border: 0.15rem solid var(--fontC);
    font-weight: bold;
    opacity: 0.9;
  }
  &:hover,
  &:active {
    color: var(--mainBlue);
    border-color: var(--mainBlue);
  }
  &.unlogin {
    &:link,
    &:visited {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      font-weight: normal;
      border: 0;
    }
    &:hover,
    &:active {
      color: var(--mainBlue);
    }
  }
}
.main-nav {
  justify-content: space-between;
}
.home {
  font-size: large;
  &:link,
  &:visited {
    color: var(--mainBlue);
    font-weight: bold;
  }
}
.not-found {
  display: flex;
  height: 50vh;
  color: var(--mainBlue);
  text-align: center;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 620px) {
  .nav {
    padding: 0 0.2rem;
  }
  .btn {
    padding: 0.5rem;
    margin-right: 0;
    font-size: small;
  }
  .post-artwork {
    display: none;
  }
}
